* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0F172A;
}

.effect_mouse {
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
    overflow: hidden;
}

.effect_mouse:before, .effect_mouse:after {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    inset: 0px;
    border-radius: inherit;
    background: radial-gradient(800px circle at var(--x-px) var(--y-px), #34559c1f, transparent 60%);
}

.effect_mouse:after {
    opacity: 0;
    transition: opacity 0.4s ease;
}
.effect_mouse:hover:after {
    opacity: 1;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 10px;
    color: white;
    letter-spacing: 3px;
    text-shadow: 1px 2px 14px rgb(255, 255, 255);
}

.container {
    z-index: 1;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.box_presentation {
    z-index: 1;
    background: rgb(129,129,129);
    background: linear-gradient(127deg, rgb(15, 23, 42) 0%, rgb(15, 23, 42) 51%, rgb(15, 23, 42) 100%);    padding: 5px;
    width: 750px;
    height: 500px;
    border: solid;
    border-width: 1px 0 1px 1px;
    border-color: rgba(240, 248, 255, 0.199);
    border-radius: 3px;
    overflow: auto; 
    overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: rgb(15, 23, 42);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff2f;
    border-radius: 10px;
}

#title_presentation {
    margin: 10px;
    text-transform: uppercase;
    font-size: 1.0rem;
    color: rgba(255, 255, 255, 0.384);
    text-align: center;
    letter-spacing: 2px;
}

#text_presentation {
    margin: 20px;
    padding: 10px;
    color: white;
}

.my_social {
    z-index: 1;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.position_icons {
    padding: 10px;
}

a {
    color: white;
}

a:hover {
    color: rgb(255, 201, 24);
}